*{
    margin: 0;
    padding: 0;
    border: 0;
}

.quote-section{
    padding: 10% 25%;
}

.quote-section__quote{
    font-size: 40px;
    font-weight: bolder;
    padding-bottom: 5%;
    text-align: center;
}

.quote-section__author{
    font-size: 10px;
    text-align: center;
}