*{
    margin: 0;
    padding: 0;
    border: 0;
}

.sub-section{
    margin-top: 2%;
    background-color: #f4f4f2;
}

.sub-section__text{
    display: inline-block;
    vertical-align: middle;
    width: 49%;
    padding: 8.5% 0%;
    background-color: orange;
}

.sub-section__text__title{
    font-size: 30px;
    padding: 0% 24%;
}

.sub-section__image{
    vertical-align: middle;
    width: 50%;
    height: inherit;
    display: inline-block;
}

.sub-section__image > img{
    max-width: 100%;
    height: auto;
}