*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
}

.quote-section{
    padding: 10% 25%;
}

.quote-section__quote{
    font-size: 35px;
    font-weight: 1000;
    line-height: 40px;
    padding-bottom: 5%;
    text-align: center;
}

.quote-section__author{
    font-size: 11px;
    text-align: center;
}